## Parte 2

* Realizar una ingesta de datos de un archivo formato .csv utilizando la librer칤a de Pandas - esto es crear una variable y usando pandas a침adir un csv.

* link de inter칠s para la descarga gratuita de datasets.
[Enlace bases de datos gratuitas:](https://www.kaggle.com/datasets)

In [1]:
print("hola")

hola

In [2]:
#ingesta de datos en una variable
import pandas as pd

# dataFrame = pd.read_csv('./clasicos.csv', sep = ",")
dataFrame = pd.read_csv('./artists.csv', sep = ",")

In [4]:
#imprimimos las primeras 5 filas de la variable df
dataFrame.head(5)

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

# datos obtenidos:
* **Artist:** Representa el nombre del artista o m칰sico.
* **Streams:** n칰mero total de streams (reproducciones) que ha recibido la m칰sica del artista.
* **Daily:** m칠trica diaria relacionada con las reproducciones de la m칰sica del artista.
+ **As lead:** n칰mero de reproducciones en las que el artista actu칩 como l칤der principal en una canci칩n.
* **Solo:** n칰mero de reproducciones en las que el artista actu칩 en solitario, sin colaboradores.
* **As feature:** n칰mero de reproducciones en las que el artista particip칩 como caracter칤stica especial o colaborador en canciones de otros artistas.

In [6]:
# imprimimos las ultimas 5 filas de la tabla
dataFrame.tail(5)

                    Artist Streams  Daily As lead   Solo As feature
2995        Vicente Garcia   729.9  0.397   542.2  434.8      187.6
2996                 Yasin   729.6  0.573   645.9  542.0       83.6
2997                  Vedo   729.4  0.284   718.2  607.6       11.1
2998  Kings of Convenience   728.6  0.252   728.6  618.9        NaN
2999            Ayra Starr   728.6  1.881   418.4  380.8      310.1

In [7]:
# imprimimos la cantidad de filas y columnas de la matriz
print(dataFrame.shape)

(3000, 6)

In [8]:
# imprimimos la totalidad de registros por columnas
print(dataFrame.count)

<bound method DataFrame.count of                     Artist   Streams   Daily   As lead      Solo As feature
0                    Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1                Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2             Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3               The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4               Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8
...                    ...       ...     ...       ...       ...        ...
2995        Vicente Garcia     729.9   0.397     542.2     434.8      187.6
2996                 Yasin     729.6   0.573     645.9     542.0       83.6
2997                  Vedo     729.4   0.284     718.2     607.6       11.1
2998  Kings of Convenience     728.6   0.252     728.6     618.9        NaN
2999            Ayra Starr     728.6   1.881     418.4     380.8      310.1

[3000 rows x 6 columns]>

In [9]:
# imprimimos los tipos de datos cada columna
dataFrame.dtypes

Artist         object
Streams        object
Daily         float64
As lead        object
Solo           object
As feature     object
dtype: object

In [10]:
# verificamos la estructura del dataframe
type(dataFrame)

pandas.core.frame.DataFrame

In [11]:
dataFrame.count()

Artist        3000
Streams       3000
Daily         2994
As lead       2984
Solo          2931
As feature    2662
dtype: int64

In [12]:
# listamos las columnas
print(dataFrame.columns)

Index(['Artist', 'Streams', 'Daily', 'As lead', 'Solo', 'As feature'], dtype='object')

In [14]:
#eliminamos la columna as feature, no modifica el archivo original
df = dataFrame.drop("As feature", axis=1)
#df.drope('date', axis=1) llama a la funcion drop de pandas y elimina la columna date de la variable df
#"date" es el argumento a eliminar 
#axis=1 indica que queremos eliminar la columna date 
#drop crea una nueva variable con los datos eliminados y devuelve esta copia como resultado. no modifica el dataframe original 'df'

In [77]:

#verificamos:
print(df.columns)

Index(['Artist', 'Streams', 'Daily', 'As lead', 'Solo'], dtype='object')

In [26]:
#inplace=True, est치s indicando que deseas modificar el DataFrame original y no crear una copia.
# df.drop(columns = ['local_name', 'visitor_goals'], inplace=True)

In [127]:
#busqueda de nulos
print(dataFrame.isna().sum())

Artist          0
Streams         0
Daily           6
As lead        16
Solo           69
As feature    338
dtype: int64

In [79]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      3000 non-null   object
 1   Streams     3000 non-null   object
 2   Daily       2994 non-null   float64
 3   As lead     2984 non-null   object
 4   Solo        2931 non-null   object
 5   As feature  2662 non-null   object
dtypes: float64(1), object(5)
memory usage: 140.8+ KB

In [18]:
# la funcion describe nos permite ver los datos de la tabla y sus estadisticas

dataFrame.describe()

             Daily
count  2994.000000
mean      1.854522
std       3.758283
min       0.002000
25%       0.480250
50%       0.871000
75%       1.774250
max      85.793000

In [69]:
df.describe().T

        count      mean       std    min      25%    50%      75%     max
Daily  2994.0  1.854522  3.758283  0.002  0.48025  0.871  1.77425  85.793

# separamos en x e y

In [12]:
# listamos las columnas
print(dataFrame.columns)

Index(['Artist', 'Streams', 'Daily', 'As lead', 'Solo', 'As feature'], dtype='object')

In [15]:
dataFrame.head(5)

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

In [16]:
# Eliminar comas y convertir las columnas en n칰meros de punto flotante
dataFrame['Streams'] = dataFrame['Streams'].str.replace(',', '').astype(float)
dataFrame['As lead'] = dataFrame['As lead'].str.replace(',', '').astype(float)
dataFrame['Solo'] = dataFrame['Solo'].str.replace(',', '').astype(float)
dataFrame['As feature'] = dataFrame['As feature'].str.replace(',', '').astype(float)

# Ahora, verifica los tipos de datos
print(dataFrame.dtypes)

Artist         object
Streams       float64
Daily         float64
As lead       float64
Solo          float64
As feature    float64
dtype: object

In [18]:
#Verificamos el cambio
dataFrame.head(5)

         Artist  Streams   Daily  As lead     Solo  As feature
0         Drake  85041.3  50.775  57252.6  32681.6     27788.7
1     Bad Bunny  67533.0  44.820  40969.6  23073.0     26563.4
2  Taylor Swift  57859.0  85.793  55566.7  50425.7      2292.4
3    The Weeknd  53665.2  44.437  42673.3  31164.2     10991.9
4    Ed Sheeran  47907.7  17.506  42767.9  33917.0      5139.8

In [21]:
# filtrar por los que tienen mas de 20000 streams
dp_filtrados = dataFrame[dataFrame.Streams > 20000]
dp_filtrados.tail(5)

            Artist  Streams   Daily  As lead     Solo  As feature
41  Rauw Alejandro  21277.3  17.694  11520.5   4287.6      9756.8
42       Sam Smith  21133.7   9.977  18066.0  13576.0      3067.7
43         J. Cole  21049.1  12.272  16098.4  12872.9      4950.8
44         Farruko  20784.1   8.096   5669.1   3160.4     15115.0
45    Lana Del Rey  20052.2  24.470  18194.9  16379.3      1857.3

In [25]:
dp_filtrados = dataFrame[dataFrame["As lead"] > 15000]
dp_filtrados.tail(5)

              Artist  Streams   Daily  As lead     Solo  As feature
0              Drake  85041.3  50.775  57252.6  32681.6     27788.7
1          Bad Bunny  67533.0  44.820  40969.6  23073.0     26563.4
2       Taylor Swift  57859.0  85.793  55566.7  50425.7      2292.4
3         The Weeknd  53665.2  44.437  42673.3  31164.2     10991.9
4         Ed Sheeran  47907.7  17.506  42767.9  33917.0      5139.8
5      Justin Bieber  47525.7  18.868  27988.0  17183.9     19537.7
6             Eminem  42029.0  20.175  35475.8  21576.7      6553.2
7      Ariana Grande  40111.0  17.158  33219.8  23307.3      6891.2
8           J Balvin  38774.8  11.784  17450.7   5699.8     21324.2
9        Post Malone  38002.7  21.095  34494.0  18943.9      3508.6
10        Kanye West  37667.2  24.157  27205.7  18032.3     10461.6
11      Travis Scott  37489.0  38.359  18839.2  14960.2     18649.7
12               BTS  35778.0  14.960  32041.3  28991.6      3736.7
13           Rihanna  35501.8  20.778  25380.1  16736.0     10121.7
15        Juice WRLD  32332.5  13.410  23613.9  18277.1      8718.6
16            Future  31001.7  20.513  15374.1   7299.6     15627.6
18    Kendrick Lamar  29836.5  16.652  20052.2  12208.1      9784.3
19     Billie Eilish  29173.3  19.313  29173.3  25240.5         NaN
20      XXXTENTACION  28370.7  11.181  24681.3  20244.5      3689.4
22   Imagine Dragons  28100.5  16.133  26430.9  22543.8      1669.6
24          Coldplay  27526.1  14.860  25154.3  22329.9      2371.8
25        Bruno Mars  27465.0  19.063  20901.5  17207.5      6563.5
26          Dua Lipa  27235.7  15.613  17797.4  14127.9      9438.3
29      David Guetta  25236.3  15.439  18511.0    900.8      6725.3
32          Maroon 5  23404.5  10.845  23209.5  14873.4       195.0
36          Beyonc츾춸  21982.7  13.685  18075.1  13666.3      3907.7
37      Shawn Mendes  21909.9   7.467  21320.3  16361.3       589.6
38     Calvin Harris  21862.3  11.971  20244.5   3585.6      1617.8
42         Sam Smith  21133.7   9.977  18066.0  13576.0      3067.7
43           J. Cole  21049.1  12.272  16098.4  12872.9      4950.8
45      Lana Del Rey  20052.2  24.470  18194.9  16379.3      1857.3
46             Queen  19725.6  10.034  19672.9  18175.4        52.7
50      Harry Styles  18906.5  12.693  18906.5  18906.5         NaN
51         Lady Gaga  18751.7   9.844  18352.2  12142.2       399.4
52     One Direction  18720.4   8.746  18720.4  18638.9         NaN
55             Adele  17925.9  11.157  17883.7  17759.2        42.2
59  The Chainsmokers  17469.2   5.249  17050.0   3069.6       419.1
64       The Beatles  16673.3   8.152  16671.1  16667.4         2.2
66       Linkin Park  16238.3  10.653  15044.7  14056.0      1193.6
70    Arctic Monkeys  15544.5  12.980  15544.5  15544.5         NaN

In [107]:

# x = dataFrame.drop('Streams',axis=1) #eliminamos la variable a predecir
x = pd.get_dummies(dataFrame.drop('Streams', axis=1), columns=['Artist'])

y = dataFrame.Streams

funci칩n **train_test_split** de la librer칤a **Scikit-Learn**
**游닇Nota:** Esta funci칩n es muy 칰til en el aprendizaje autom치tico para dividir un conjunto de datos en dos partes: un conjunto de entrenamiento y un conjunto de prueba. Estas dos partes se utilizan para entrenar un modelo de aprendizaje autom치tico en el conjunto de entrenamiento y evaluar su rendimiento en el conjunto de prueba.

LUego:
* **x_train y y_train** contendr치n los datos de entrenamiento para los atributos y la variable objetivo, respectivamente.
* **x_test y y_test** contendr치n los datos de prueba para los atributos y la variable objetivo, respectivamente.
* **test_size** controla la proporci칩n de datos que se asignar치n al conjunto de prueba. En este ejemplo, el 30% de los datos se asignar치n al conjunto de prueba.
* **random_state** se utiliza para establecer una semilla aleatoria, lo que hace que la divisi칩n sea reproducible. Siempre que uses la misma semilla, obtendr치s la misma divisi칩n de datos. Esto es 칰til para experimentaci칩n y comparaci칩n de modelos.

In [108]:
from sklearn.model_selection import train_test_split

#me quedo con 30% para test y  70 para test
## Supongamos que 'x' es tu conjunto de atributos y 'y' es tu variable objetivo
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [109]:
#arbol decicion:
#El 치rbol de decisiones es un algoritmo de aprendizaje autom치tico que se utiliza tanto en tareas de clasificaci칩n como de regresi칩n.
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2, random_state=42)

**max_depth=2:** Esto establece la profundidad m치xima del 치rbol de decisiones en 2. La profundidad del 치rbol controla cu치ntas divisiones o niveles de decisiones puede tomar el 치rbol antes de llegar a una hoja (una predicci칩n).

**random_state=42:** Esto establece una semilla aleatoria para garantizar que el proceso de entrenamiento sea reproducible. Siempre que uses la misma semilla (en este caso, 42), obtendr치s los mismos resultados cada vez que entrenes el modelo. Esto es 칰til para la reproducibilidad de tus experimentos.

## 游뱄 Entrenar el modelo
Una vez que hayas creado el objeto DecisionTreeClassifier, puedes utilizarlo para entrenar un modelo de 치rbol de decisiones en tus datos de entrenamiento. Esto implica proporcionar los conjuntos de entrenamiento x_train y y_train que contienen tus atributos y la variable objetivo, respectivamente, y luego llamar al m칠todo fit en el objeto tree para realizar el entrenamiento.

In [110]:
#tree permite entrenar el modelo
tree.fit(x_train, y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.