## Parte 2

* Realizar una ingesta de datos de un archivo formato .csv utilizando la librería de Pandas - esto es crear una variable y usando pandas añadir un csv.

* link de interés para la descarga gratuita de datasets.
[Enlace bases de datos gratuitas:](https://www.kaggle.com/datasets)

In [1]:
print("hola")

hola

In [13]:
#ingesta de datos en una variable
import pandas as pd

dataFrame = pd.read_csv('./clasicos.csv', sep = ",")

In [14]:
#imprimimos las primeras 5 filas de la variable df
dataFrame.head(5)

,local_goals,local_name,match,visitor_goals,visitor_name
0,0,Colon,Superliga 2018/19 - Fecha 4,0,Union
1,1,Union,Superliga 2017/18 - Fecha 17,1,Colon
2,1,Colon,Campeonato 2016/17 - Fecha 24,1,Union
3,0,Union,Campeonato 2016/17 - Fecha 16,2,Colon
4,1,Union,Torneo 2016 - Fecha 12,0,Colon

In [15]:
# imprimimos las ultimas 4 filas de la tabla
dataFrame.tail(4)

,local_goals,local_name,match,visitor_goals,visitor_name
932,2,Boca Juniors,Campeonato 1932 - Fecha 32,1,River Plate
933,1,River Plate,Campeonato 1932 - Fecha 15,1,Boca Juniors
934,0,River Plate,Campeonato 1931 - Fecha 34,3,Boca Juniors
935,1,Boca Juniors,Campeonato 1931 - Fecha 17,1,River Plate

In [16]:
# imprimimos la cantidad de filas y columnas de la matriz
print(dataFrame.shape)

(936, 5)

In [17]:
# imprimimos la totalidad de registros por columnas
print(dataFrame.count)

<bound method DataFrame.count of      local_goals    local_name                          match  visitor_goals  \
0              0         Colon    Superliga 2018/19 - Fecha 4              0
1              1         Union   Superliga 2017/18 - Fecha 17              1
2              1         Colon  Campeonato 2016/17 - Fecha 24              1
3              0         Union  Campeonato 2016/17 - Fecha 16              2
4              1         Union         Torneo 2016 - Fecha 12              0
..           ...           ...                            ...            ...
931            1  Boca Juniors     Campeonato 1933 - Fecha 17              1
932            2  Boca Juniors     Campeonato 1932 - Fecha 32              1
933            1   River Plate     Campeonato 1932 - Fecha 15              1
934            0   River Plate     Campeonato 1931 - Fecha 34              3
935            1  Boca Juniors     Campeonato 1931 - Fecha 17              1

     visitor_name
0           Union
1           Colon
2           Union
3           Colon
4           Colon
..            ...
931   River Plate
932   River Plate
933  Boca Juniors
934  Boca Juniors
935   River Plate

[936 rows x 5 columns]>

In [18]:
# imprimimos los tipos de datos cada columna
dataFrame.dtypes

local_goals       int64
local_name       object
match            object
visitor_goals     int64
visitor_name     object
dtype: object

In [19]:
# verificamos la estructura del dataframe
type(dataFrame)

pandas.core.frame.DataFrame

In [21]:
# listamos las columnas
print(dataFrame.columns)

Index(['local_goals', 'local_name', 'match', 'visitor_goals', 'visitor_name'], dtype='object')

In [24]:
#eliminamos la columna match, no modifica el archivo original
df = dataFrame.drop("match", axis=1)
#df.drope('date', axis=1) llama a la funcion drop de pandas y elimina la columna date de la variable df
#"date" es el argumento a eliminar 
#axis=1 indica que queremos eliminar la columna date 
#drop crea una nueva variable con los datos eliminados y devuelve esta copia como resultado. no modifica el dataframe original 'df'

In [25]:

#verificamos:
print(df.columns)

Index(['local_goals', 'local_name', 'visitor_goals', 'visitor_name'], dtype='object')

In [26]:
#inplace=True, estás indicando que deseas modificar el DataFrame original y no crear una copia.
# df.drop(columns = ['local_name', 'visitor_goals'], inplace=True)

In [33]:
#busqueda de nulos
print(dataFrame.isna().sum())

local_goals      0
local_name       0
match            0
visitor_goals    0
visitor_name     0
dtype: int64

In [35]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   local_goals    936 non-null    int64
 1   local_name     936 non-null    object
 2   match          936 non-null    object
 3   visitor_goals  936 non-null    int64
 4   visitor_name   936 non-null    object
dtypes: int64(2), object(3)
memory usage: 36.7+ KB

In [37]:
# la funcion describe nos permite ver los datos de la tabla y sus estadisticas

dataFrame.describe()

       local_goals  visitor_goals
count   936.000000     936.000000
mean      1.477564       1.195513
std       1.259628       1.115386
min       0.000000       0.000000
25%       1.000000       0.000000
50%       1.000000       1.000000
75%       2.000000       2.000000
max       7.000000       6.000000

In [38]:
df.describe().T

               count      mean       std  min  25%  50%  75%  max
local_goals    936.0  1.477564  1.259628  0.0  1.0  1.0  2.0  7.0
visitor_goals  936.0  1.195513  1.115386  0.0  0.0  1.0  2.0  6.0

# separamos en x e y

In [39]:
# listamos las columnas
print(dataFrame.columns)

Index(['local_goals', 'local_name', 'match', 'visitor_goals', 'visitor_name'], dtype='object')

In [40]:
dataFrame.head(5)

,local_goals,local_name,match,visitor_goals,visitor_name
0,0,Colon,Superliga 2018/19 - Fecha 4,0,Union
1,1,Union,Superliga 2017/18 - Fecha 17,1,Colon
2,1,Colon,Campeonato 2016/17 - Fecha 24,1,Union
3,0,Union,Campeonato 2016/17 - Fecha 16,2,Colon
4,1,Union,Torneo 2016 - Fecha 12,0,Colon

In [41]:
x = dataFrame.drop('local_goals',axis=1) #eliminamos la variable a predecir
y = dataFrame.local_goals